@import './fonts';
@import './viewElements';
@import './variables';


body {
  margin: 0;
  background-color: @backgroundColor;
}

.app {
  font-family: Source Sans Pro, Arial, sans-serif;
  color: @textColor;
}

.header {
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: @headerColor;

  h1 {
    font-size: 24px;
  }

  a:visited {
    color: @textColor;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.article {
  background-color: white;
  margin-top: 2.5rem;
  padding: 2.5rem;

  h2 {
    margin-top: 0;

    p {
      margin-top: 0;
    }
  }

  pre {
    background-color: @backgroundColor;
    padding: 1rem;
  }

  .lead {
    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.comment-section {
  margin-top: 2.5rem;
  padding: 2.5rem;
  background-color: white;

  h2 {
    margin-top: 0;
  }

  .comments {
    .comment {
      margin-top: 1rem;
      margin-bottom: 1rem;

      .comment-username {
        font-weight: 600;
      }

      .subcomments {
        margin-left: 1rem;
      }
    }
  }
  .write-new-comment {
  }
}

.main-content-wrapper {
  display: flex;
  justify-content: center;

  .main-content {
    width: 40rem;
    margin-bottom: 6.25rem;
  }
}

.button-row {
  display: flex;
  justify-content: flex-end;
}
