@import './fonts';

* {
  font-family: Source Sans Pro, Arial, sans-serif;
  color: #220C10;
}

body {
  margin: 0;
  background-color: #F7F7FF;
}

.header {
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #F79F79;

  h1 {
    font-size: 24px;
  }
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  .main-content {
    width: 40rem;
  }
}


//Colors - https://coolors.co/f79f79-f7d08a-f7f7ff-87b6a7-220c10
//#F79F79 - Light salmon
//#F7D08A - Peach-orange
//#F7F7FF - Ghost white
//#87B6A7 - Pewter blue
//#220C10 - Licorice

//Old colors:
//#E3F09B - Key lime
